@using FootballClubApp.ViewModels.HomeViewModels.ViewModels
@model HomeViewModel
@{
    ViewData["Title"] = "Setup Solution";
}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <img src="~/images/Legiaherb2.png" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>Informacja</th>
                <th>Dane</th>
            </tr>
            @foreach (var itm in Model.BasicInformations)
            {
            <tr>
                <td>@itm.Data</td>
                <td>@itm.Information</td>
            </tr>
            }
        </table>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-striped">
            <tr>
                <th>Lokata</th>
                <th>Klub</th>
                <th>Punkty</th>
            </tr>
            @foreach (var club in Model.Leagues)
            {
                <tr>
                    <td>@club.Place</td>
                    <td>@club.ClubName</td>
                    <td>@club.Points</td>
                </tr>
            }
        </table>
    </div>
</div>