@model FootballClubApp.BLL.Entities.EuropeEliminations
    ViewData["Title"] = "EditElimination";
}

<h2>EditElimination</h2>
<style>
    .black-font {
        color: black;
    }
</style>
<h2>Dodaj rekord</h2>
<div class="row no-gutters">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm())
        {
            @Html.Hidden("seasonId", Model.SeasonId)
            <div class="form-group">
                @Html.Label("Klub", "Klub", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.Team", Model.Team, new { @class = "black-font" })
            </div>
            <div class="form-group">
                @Html.Label("Wynik gospodarzy", "Wynik gospodarzy", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.HomeResult", Model.HomeResult, new { @class = "black-font" })
            </div>
            <div class="form-group">
                @Html.Label("Wynik gosci", "Wynik gosci", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.AwayResult", Model.AwayResult, new { @class = "black-font" })
            </div>
            <div class="form-group">
                @Html.Label("Runda", "Runda", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.Round", Model.Round, new { @class = "black-font" })
            </div>
            <div class="form-group">
                @Html.Label("Nazwa Etapu", "Nazwa Etapu", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.NameOfStage", Model.NameOfStage, new { @class = "black-font" })
            </div>
            <div class="form-group">
                @Html.Label("Nazwa Turnieju", "Nazwa Turnieju", htmlAttributes: new { @class = "control-label col-md-8" })
                @Html.TextBox("obj.NameOfCompetition", Model.NameOfCompetition, new { @class = "black-font" })
            </div>

            <input type="submit" value="Dodaj" class="btn btn-primary btn-lg" />
        }
    </div>
</div>
